branches:
  only:
    - master
    - development
language: ruby
variables:
script: "bash ./validate_erb.sh && ruby ./test_render.rb"
rvm:
- 1.9.3
- 2.0
- 2.1
- 2.2
- 2.3.0

notifications:
  email: corey@logicminds.biz
